body{
    margin: 0px;
    background-color: #9b9b9b;
}

.contenedor{
    background-color: whitesmoke;
    width: 50%;
    margin-top: 5%;
    margin-left: 2%;
    border: 2px solid #007eff;
}

.cuadroTexto h1{
    color: blue;
}